html,
body {
  margin: 0;
}

header {
  background: #212529;
  padding: 20px;
  width: 20;
}

.navbar-brand {
  color: #ffff;
}

.navbar-brand:hover {
  color: #ffff;
  cursor: pointer;
}

#navbarDropdown{
  color: #ffff;
}

#navbarDropdown:hover {
  color: #ffff;
  cursor: pointer;
}

.content{
  width: 90%;
  margin: auto;
}

#cocktail-img {
  margin-bottom: 10px;
}

.cocktail-name {
  margin-bottom: 30px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: inline-block;
  margin-right: 20px;
}

a {
  width: 10%;
  color: white;
  padding: 7px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 1px;
  cursor: pointer;
  text-decoration: none;
}

.hero-image {
  background-image: url('../Images/pexels-photo-1128678.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 600px;
  position: relative;
}

.hero-text {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
